# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\下载\baiduyun\ssm-crud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
